<h3 class="page-header">
    Add {{ config.metadataName.plural }}
    <small ng-show="annotIsUploading">Uploading..</small>
</h3>

<form id="annotUploadForm" name="annotUploadForm" class="form-inline" ng-submit="sendFile()">
    <input id="annotFile"
        type="file"
        ng-file-model="annotations.file"
        required>
    <p class="help-block">Allowed formats :
        <strong ng-bind="formats"></strong>
    </p>
    <div class="btn-group">
        <button class="btn btn-default" type="button" ng-click="parseFile()">Preview</button>
        <input class="btn btn-default" type="submit" value="Upload" ng-disabled="annotIsUploading">
        <button class="btn btn-default" type="reset">Reset</button>
    </div>
    <button class="btn btn-info" type="button" ng-click="showAnnotations()">Show {{ config.metadataName.plural }}</button>
    <button class="btn btn-warning" type="button" ng-click="deleteAnnotations()">Delete {{ config.metadataName.plural }}</button>
</form>
