<h3 class="page-header">
    Search Experiments
</h3>

<div class="row">
    <div class="col-lg-offset-2 col-lg-8 input-group">
        <span class="input-group-addon">
            <i class="glyphicon glyphicon-search"></i>
        </span>
        <input class="form-control"
            type="text"
            list="list"
            placeholder="Type an experiment name here..."
            required>
        <span class="input-group-btn">
            <input id="selectButton"
                class="btn btn-primary"
                type="submit"
                value="Select">
        </span>
    </div>
</div>

<datalist id="list">
    <option value="test1">
    <option value="test2">
    <option value="test3">
    <option value="test4">
    <option value="test5">
</datalist>