<h3 class="page-header">
    Search Experiments
</h3>

<div class="row">
    <form class="col-lg-offset-2 col-lg-8" ng-submit="selectList()">
        <div class="input-group">
            <span class="input-group-addon">
                <i class="glyphicon glyphicon-search"></i>
            </span>
            <input class="form-control"
                type="search"
                ng-model="filter"
                ng-model-options="{ allowInvalid: true }"
                list="expList"
                placeholder="Type an experiment name here..."
                title="Search for experiments in the database"
                required>
            <span class="input-group-btn">
                <button class="btn btn-default"
                        type="button"
                        ng-click="resetExp()"
                        title="Erase the current words">Reset</button>
                <input id="selectButton"
                    class="btn btn-info"
                    type="submit"
                    value="Select"
                    title="Add the displayed list to the side menu">
            </span>
        </div>
    </form>
</div>

<div class="row">
    <div class="col-lg-offset-2 col-lg-8">
        <ul class="list-group" ng-show="filters.exp" title="List of experiments that match your criteria">
            <li class="list-group-item"
                ng-repeat="exp in filtered('exp')">{{ exp }}</li>
        </ul>
    </div>
</div>
