<h3 class="page-header">
    Search Experiments
</h3>

<div class="row">

<!-- Buttons -->
<!------------------------------------------------------------------------->

    <div class="col-lg-2">
        <div class="btn-group">
            <button class="btn btn-info" ng-click="getData()" title="Display the raw results">Raw results</button>
            <button class="btn btn-info" ng-click="histogram()" title="Display an histogram">Histogram</button>
        </div>
    </div>

<!-- Search Bar -->
<!------------------------------------------------------------------------->

    <form class="col-lg-8" ng-submit="searchBar.select()">
        <div class="input-group">
            <span class="input-group-addon">
                <i class="glyphicon glyphicon-search"></i>
            </span>

            <input class="form-control"
                type="search"
                ng-model="searchBar.filter"
                ng-model-options="{ allowInvalid: true }"
                placeholder="Type the name of an experiment, a dataset..."
                title="Search for experiments in the database"
                required>

            <span class="input-group-btn">
                <button class="btn btn-default"
                        type="button"
                        ng-click="searchBar.reset()"
                        title="Erase the current filter">Reset</button>

                <input id="selectButton"
                    class="btn btn-info"
                    type="submit"
                    value="Select"
                    title="Add the displayed list to the side menu">
            </span>
        </div>
    </form>
</div>

<!-- Typeahead -->
<!------------------------------------------------------------------------->

<div class="row">
    <div class="col-lg-offset-2 col-lg-8">
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="(ID, exp) in exps.all | expFilter:searchBar.filter:searchBar.limit track by ID">
                <span ng-bind="ID" title="{{ typeahead.format.metadata(exp.metadata) }}"></span>
                <span class="pull-right">
                    <em class="text-muted"
                        ng-bind="typeahead.format.datasets(exp.datasets)"
                        title="List of datasets where this experiment is found"></em>
                </span>
            </li>
        </ul>
    </div>
</div>
