<h3 class="page-header">
    Search Genes
</h3>

<!-- Search Bar -->
<!------------------------------------------------------------------------->

<div class="row">
    <form class="col-lg-offset-2 col-lg-8" ng-submit="searchBar.select()">
        <div class="input-group">
            <span class="input-group-addon">
                <i class="glyphicon glyphicon-search"></i>
            </span>

            <input class="form-control"
                type="search"
                ng-model="searchBar.filter"
                ng-model-options="{ allowInvalid: true }"
                placeholder="Type a gene name, an annotation keyword..."
                title="Search for genes in the database"
                required>

            <span class="input-group-btn">
                <button class="btn btn-default"
                        type="button"
                        ng-click="searchBar.reset()"
                        title="Erase the current filter">Reset</button>

                <input id="selectButton"
                    class="btn btn-info"
                    type="submit"
                    value="Select"
                    title="Add the displayed list to the side menu">
            </span>
        </div>
    </form>
</div>

<!-- Display section -->
<!------------------------------------------------------------------------->

<div class="row">
<!--    <div class="col-lg-offset-2 col-lg-8">
        <ul class="list-group" ng-show="searchBar.filter">
            <li class="list-group-item"
                ng-repeat="gene in genes.all | filter:searchBar.filter">
                <span ng-bind="gene.ID" title="{{ searchBar.format.annotation(gene.annotation) }}"></span>
                <span class="pull-right">
                    <em class="text-muted"
                        ng-bind="searchBar.format.datasets(gene.datasets)"
                        title="List of datasets where this experiment is found"></em>
                </span>
            </li>
        </ul>
    </div>-->
    <table class="table table-hover" ng-show="searchBar.filter">
        <thead>
            <tr>
                <th rowspan=2>ID</th>
                <th rowspan=2>Datasets</th>
                <th colspan=6>Annotations</th>
                <!--<th class="buttonCell" ng-repeat="(header, value) in genes.all[0]" ng-bind="header"></th>-->
            </tr>
            <tr>
                <th ng-repeat="(header, value) in genes.all[0].annotation" ng-bind="header"></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="gene in genes.all.slice(0, 50) | filter:searchBar.filter">
                <td ng-bind="gene.ID"></td>
                <td>
                    <span class="badge" ng-bind="gene.datasets.length"></span>
                </td>
                <td ng-repeat="(field, value) in gene.annotation" ng-bind="value"></td>
            </tr>
        </tbody>
    </table>
</div>
