<h4 class="page-header graphBlockHeader" ng-click="display()">
    <span ng-show="displayedBlock !== id">&#9656;</span>
    <span ng-show="displayedBlock === id">&#9662;</span>
    <span ng-bind="type"></span>
    <span ng-bind="graphtype"></span>
    <small>
        <span ng-bind="graphList.length"></span>
        graphs:
        <span ng-bind="graphList" ></span>
    </small>
    <small class="pull-right" ng-click="remove({ blockID: id})">
        <span class="glyphicon glyphicon-remove"></span>
    </small>
</h4>

<div class="graphZone" ng-show="displayedBlock === id"></div>
