<!-- Buttons -->
<!------------------------------------------------------------------------->

<div id="buttonBlock" ng-show="exps.ifLists() || genes.ifLists()">
    <div class="asideHeader">
        <h4 class="asideTitle">Visualisation</h4>
    </div>
    <div class="asideBody">
        <ul class="asideList">
            <li><button class="asideListButton" ng-click="histogram.genes()">{{ config.rowsName.plural }} histogram</button></li>
            <li><button class="asideListButton" ng-click="histogram.exps()">{{ config.columnsName.plural }} histogram</button></li>
            <li><button class="asideListButton" ng-click="getData()">Raw results</button></li>
        </ul>
    </div>
</div>

<!-- Columns -->
<!------------------------------------------------------------------------->

<div id="expBlock" ng-show="exps.ifLists()">
    <div class="asideHeader">
        <h4 class="asideTitle">{{ config.columnsName.plural }}</h4>
    </div>
    <div class="asideBody" ng-repeat="(title, list) in exps.list.sideMenu track by title">
        <h5 class="asideListTitle"
            ng-click="display('exps', title)"
            title="List of {{ config.columnsName.plural }} that match the word {{ title }}">
            <span ng-show="displayedList !== ('exps' + title)">&#9656;</span>
            <span ng-show="displayedList === ('exps' + title)">&#9662;</span>
            <span ng-bind="title"></span>
            <div class="badges pull-right">
                <span class="badge greenBadge" ng-bind="exps.list.sideMenu[title].selected.length" ng-show="exps.list.sideMenu[title].selected.length > 0" title="Number of selected {{ config.columnsName.plural }}"></span>
                <span class="badge" ng-bind="exps.list.sideMenu[title].all.length" title="Number of {{ config.columnsName.plural }}"></span>
                <span class="badge redBadge" ng-click="exps.removeList(title)" title="Remove this list">&#10006;</span>
            </div>
        </h5>
        <ul class="asideList" ng-show="displayedList === ('exps' + title)">
            <li>
                <button class="asideListButton" type="button" ng-click="exps.select.all(title)">Select all</button>
            </li>
            <li class="asideListItem"
                ng-repeat="exp in list.all track by $index"
                ng-class="{ 'bg-primary': exps.list.selected.indexOf(exp) > -1 }"
                ng-click="exps.select.one(exp)"
                ng-bind="exp"
                title="{{ exps.metadataOf(exp) }}">
            </li>
        </ul>
    </div>
</div>

<!-- Rows -->
<!------------------------------------------------------------------------->

<div id="geneBlock" ng-show="genes.ifLists()">
    <div class="asideHeader">
        <h4 class="asideTitle">
            {{ config.rowsName.plural }}
            <button class="asideOptionsButton"
                    type="button"
                    ng-click="display('genes', 'Options')"
                    title="Show the options">&#9776;</button>
        </h4>
        <form class="asideOptions form-inline" ng-show="displayedList === 'genesOptions'">
            <div class="form-group">
                <label for="genesLabelList">Add a label</label>
                <select id="genesLabelList" class="labelOptions" ng-model="genes.options.label" title="Add a label in the lists beside the {{ config.rowsName.plural }} to help their identification.">
                    <option value="">No label</option>
                    <option value="datasets">Datasets</option>
                    <option value="{{ field }}" ng-repeat="field in genes.list.annotationsFields track by $index" ng-bind="field"></option>
                </select>
            </div>
        </form>
    </div>
    <div class="asideBody" ng-repeat="(title, list) in genes.list.sideMenu track by title">
        <h5 class="asideListTitle"
            ng-click="display('genes', title)"
            title="List of {{ config.rowsName.plural }} that match the word {{ title }}">
            <span ng-show="displayedList !== ('genes' + title)">&#9656;</span>
            <span ng-show="displayedList === ('genes' + title)">&#9662;</span>
            <span ng-bind="title"></span>
            <div class="badges pull-right">
                <span class="badge greenBadge" ng-bind="genes.list.sideMenu[title].selected.length" ng-show="genes.list.sideMenu[title].selected.length > 0" title="Number of selected {{ config.rowsName.plural }}"></span>
                <span class="badge" ng-bind="genes.list.sideMenu[title].all.length" title="Number of {{ config.rowsName.plural }}"></span>
                <span class="badge redBadge" ng-click="genes.removeList(title)" title="Remove this list">&#10006;</span>
            </div>
        </h5>
        <ul class="asideList" ng-show="displayedList === ('genes' + title)">
            <li>
                <button class="asideListButton" type="button" ng-click="genes.select.all(title)">Select all</button>
            </li>
            <li class="asideListItem"
                ng-repeat="gene in list.all track by $index"
                ng-class="{ 'bg-primary': genes.list.selected.indexOf(gene) > -1 }"
                ng-click="genes.select.one(gene)"
                title="{{ genes.annotationOf(gene) }}">
                <span ng-class="{ 'pull-left': genes.options.getLabel(gene) }" ng-bind="gene"></span>
                <div class="geneListLabel" ng-bind="genes.options.getLabel(gene)"></div>
            </li>
        </ul>
    </div>
</div>
