/*
 * Stylesheet for Cassandre.
 *
 */

aside {
    background-color: #2C3E50;
    height: 100%;
    position: fixed;
    top: 51px;
    width: 270px;
}

main {
    margin-top: 50px;
    margin-left: 270px;
}

th, td {
    text-align: center;
    vertical-align: middle;
}

.labelOptions {
    color: #595959;
    background: #FFF;
    border: 1px solid #2C3E50;
    border-radius: 4px;
    padding: 6px 12px;
}

.asideTitle {
    background-color: transparent;
    border-bottom: 1px solid #F0F0F0;
    color: #FFF;
    height: 30px;
    padding: 0;
    margin: 16px 15px 15px 15px;
}

.asideOptions {
    border-bottom: 1px solid #F0F0F0;
    padding: 16px 15px 15px 15px;
    height: 70px;
}

.asideOptions label{
    color: #FFF;
    margin-right: 30px;
}

.asideListTitle {
    background-color: transparent;
    color: #FFF;
    cursor: pointer;
    height: 50px;
    padding: 16px 15px 15px 15px;
    margin: 0;
}

.asideListTitle:hover {
    background-color: #022F5A;
}

.asideList {
    color: #FFF;
    list-style-type: none;
    padding: 0;
}

.asideList li {
    padding: 10px 15px 10px 25px;
}

.asideListButton {
    background: transparent;
    border: 1px solid #F0F0F0;
    border-radius: 3px;
    width: 100%;
}

.asideListButton:hover {
    background: #F0F0F0;
    color: #2C3E50;
}

.asideOptionsButton {
    background: transparent;
    border: 1px solid #F0F0F0;
    border-radius: 3px;
    float: right;
    padding-top: 3px;
}

.asideOptionsButton:hover {
    background: #F0F0F0;
    color: #2C3E50;
}

.asideListItem {
    cursor: pointer;
}

.asideListItem:hover {
    background-color: #6595BC;
}

.geneListLabel {
    color: #DDDDDD;
    font-style: italic;
    padding-left: 10px;
    overflow: hidden;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.invisibleCell {
    background: none !important;
    border: none !important;
}

.greenBadge {
    background-color: #73A839;
}

.buttonCell:hover {
    color: #004C8F;
}

.buttonCellRemove:hover {
    color: #B80000;
}

.buttonCellEdit:hover {
    color: #337AB7;
}

.invisible {
    visibility: hidden;
}

.orderColumn {
    color: #004C8F;
}

.numericCell {
    text-align: right;
}

.orderColumn::after {
    content: "\25B2";
}

.orderColumn.reverse::after {
    content: "\25BC";
}

.redBadge {
    background-color: #C71C22;
}

.infoBlock {
    position: relative;
}

.infoBlock .infoBlockText {
    position: absolute;
    top: auto;
    bottom: auto;
    left: 100%;
    min-height: 30px;
    height: auto;
    min-width: 200px;
    width: auto;
    padding: 5px 7px;
    background-color: #2FA4E7;
    border-radius: 6px;
    text-align: center;
    white-space: pre;
    color: #FFF;
    visibility: hidden;
    z-index: 1;
}

.infoBlock:hover .infoBlockText {
    visibility: visible;
}

.graph {
    background-color: #2C3E50;
    display: inline-block;
    height: 450px;
    width: 700px;
}

.graphBlockHeader {
    cursor: pointer;
}

#addNewSetButton {
    width: 30%;
}

#datasetsFilter {
    width: 100%;
}

#datasetsLimit {
    width: 80%;
}

#expFilter, #genesFilter {
    width: 70%;
}

#sideMenu {
    overflow: auto;
}
