/*
 * Stylesheet for Cassandre.
 *
 */

body {
    padding-top: 50px;
}

.invisibleCell {
    background: none !important;
    border: none !important;
}

.buttonCell:hover {
    color: #004C8F;
}

.buttonCellRemove:hover {
    color: #B80000;
}

.buttonCellEdit:hover {
    color: #337AB7;
}

.invisible {
    visibility: hidden; 
}

.orderColumn {
    color: #004C8F;
}

.orderColumn::after {
    content: "\25B2";
}

.orderColumn.reverse::after {
    content: "\25BC";
}

#datasetsFilter {
    width: 100%;
}

#datasetsLimit {
    width: 80%;
}

#expFilter, #genesFilter {
    width: 70%;
}

#resultsLimit {
    width: 130px;
}
