/*
 * Stylesheet for Cassandre.
 *
 */

aside {
    background-color: #2C3E50;
    height: 100%;
    position: fixed;
    top: 51px;
    width: 270px;
}

main {
    margin-top: 50px;
    margin-left: 270px;
}

th, td {
    text-align: center;
    vertical-align: middle;
}

.asideBlockTitle {
    background-color: transparent;
    color: #FFF;
    cursor: pointer;
    height: 50px;
    padding: 16px 15px 15px 15px;
    margin: 0;
}

.asideBlockTitle:hover {
    background-color: #022F5A;
}

.asideList {
    color: #FFF;
    list-style-type: none;
    padding: 0;
}

.asideListItem {
    cursor: pointer;
    padding: 10px 10px 10px 25px;
}

.asideListItem:hover {
    background-color: #6595BC;
}

.asideSectionTitle {
    background-color: transparent;
    border-bottom: 1px solid #A8A8A8;
    color: #FFF;
    height: 30px;
    padding: 0;
    margin: 16px 15px 15px 15px;
}

.invisibleCell {
    background: none !important;
    border: none !important;
}

.greenBadge {
    background-color: #73A839;
}

.buttonCell:hover {
    color: #004C8F;
}

.buttonCellRemove:hover {
    color: #B80000;
}

.buttonCellEdit:hover {
    color: #337AB7;
}

.invisible {
    visibility: hidden; 
}

.orderColumn {
    color: #004C8F;
}

.numericCell {
    text-align: right;
}

.orderColumn::after {
    content: "\25B2";
}

.orderColumn.reverse::after {
    content: "\25BC";
}

.redBadge {
    background-color: #C71C22;
}

/*********** D3 ************/

.chart {
    border: 1px solid;
}

.bar rect {
  fill: steelblue;
  shape-rendering: crispEdges;
}

.bar text {
  fill: #fff;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

/***************************/

#datasetsFilter {
    width: 100%;
}

#datasetsLimit {
    width: 80%;
}

#expFilter, #genesFilter {
    width: 70%;
}

#sideMenu {
    overflow: auto;
}
