/*
 * Stylesheet for Cassandre.
 *
 */

body {
    padding-top: 50px;
}

.buttonCell:hover {
    color: #004C8F;
}

.buttonCellRemove:hover {
    color: #B80000;
}

.buttonCellEdit:hover {
    color: #337AB7;
}

.orderColumn {
    color: #004C8F;
}

.orderColumn::after {
    content: "▲";
}

.orderColumn.reverse::after {
    content: "▼";
}

#datasetsFilter {
    width: 100%;
}

#datasetsLimit {
    width: 80%;
}

#expFilter, #genesFilter {
    width: 70%;
}

#resultsLimit {
    width: 130px;
}
