/*
 * Stylesheet for Cassandre.
 *
 */

aside {
    background-color: #044D95;
    position: fixed;
    top: 51px;
    height: 100%;
    width: 260px;
}

main {
    margin-top: 50px;
    margin-left: 260px;
}

.asideBlockTitle {
    background-color: transparent;
    color: #FFF;
    height: 50px;
    padding: 16px 15px 15px 15px;
    margin: 0;
}

.asideBlockTitle:hover {
    background-color: #022F5A;
}

.asideList {
    color: #FFF;
    list-style-type: none;
    padding: 0;
}

.asideListItem {
    padding: 10px 10px 10px 25px;
}

.asideListItem:hover {
    background-color: #6595BC;
}

.invisibleCell {
    background: none !important;
    border: none !important;
}

.buttonCell:hover {
    color: #004C8F;
}

.buttonCellRemove:hover {
    color: #B80000;
}

.buttonCellEdit:hover {
    color: #337AB7;
}

.invisible {
    visibility: hidden; 
}

.orderColumn {
    color: #004C8F;
}

.orderColumn::after {
    content: "\25B2";
}

.orderColumn.reverse::after {
    content: "\25BC";
}

#datasetsFilter {
    width: 100%;
}

#datasetsLimit {
    width: 80%;
}

#expFilter, #genesFilter {
    width: 70%;
}

#resultsLimit {
    width: 130px;
}
